<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#panelAllEmployees">@Resources.Resource.UserAccountEmployeesAll</a></li>
    <li><a data-toggle="tab" href="#panelEmployeesInfo">@Resources.Resource.UserAccountEmployeesInfo</a></li>
</ul>

<div class="tab-content">
    <div id="panelAllEmployees" class="tab-pane fade in active">
        <h3>@Resources.Resource.PanelTitle @Resources.Resource.UserAccountEmployeesAll</h3>
        <p> @Resources.Resource.PanelContent @Resources.Resource.UserAccountEmployeesAll...</p>
    </div>
    <div id="panelEmployeesInfo" class="tab-pane fade">
        <h3>@Resources.Resource.PanelTitle @Resources.Resource.UserAccountEmployeesInfo</h3>
        <p>@Resources.Resource.PanelContent @Resources.Resource.UserAccountEmployeesInfo...</p>
    </div>
</div>
