<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#panelCargo">@Resources.Resource.UserAccountEntriesCargo</a></li>
    <li><a data-toggle="tab" href="#panelTransport">@Resources.Resource.UserAccountEntriesTransport</a></li>
</ul>

<div class="tab-content">
    <div id="panelCargo" class="tab-pane fade in active">
        <h3>@Resources.Resource.PanelTitle @Resources.Resource.UserAccountEntriesCargo</h3>
        <p>@Resources.Resource.PanelContent @Resources.Resource.UserAccountEntriesCargo...</p>
    </div>
    <div id="panelTransport" class="tab-pane fade">
        <h3>@Resources.Resource.PanelTitle @Resources.Resource.UserAccountEntriesTransport</h3>
        <p>@Resources.Resource.PanelContent @Resources.Resource.UserAccountEntriesTransport...</p>
    </div>
</div>
