<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#panelInbox">@Resources.Resource.UserAccountMessagesIncoming</a></li>
    <li><a data-toggle="tab" href="#panelOutput">@Resources.Resource.UserAccountMessagesOutgoing</a></li>
    <li><a data-toggle="tab" href="#panelUnread">@Resources.Resource.UserAccountMessagesUnread</a></li>
</ul>

<div class="tab-content">
    <div id="panelInbox" class="tab-pane fade in active">
        <h3>@Resources.Resource.PanelTitle @Resources.Resource.UserAccountMessagesIncoming</h3>
        <p> @Resources.Resource.PanelContent @Resources.Resource.UserAccountMessagesIncoming...</p>
    </div>
    <div id="panelOutput" class="tab-pane fade">
        <h3>@Resources.Resource.PanelTitle @Resources.Resource.UserAccountMessagesOutgoing</h3>
        <p>@Resources.Resource.PanelContent @Resources.Resource.UserAccountMessagesOutgoing...</p>
    </div>
    <div id="panelUnread" class="tab-pane fade">
        <h3>@Resources.Resource.PanelTitle @Resources.Resource.UserAccountMessagesUnread</h3>
        <p>@Resources.Resource.PanelContent @Resources.Resource.UserAccountMessagesUnread...</p>
    </div>
</div>
